<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">
<div layout:fragment="content">
    <div th:insert="fragments/header::header"></div>
    <div class="index-container">
        <div class="row">
            <div class="col-3 center p-1 m-5">
                <!-----------------------프로필 ----------------------------------------------------------->
                <div class="card profile">
                    <!---------레벨 ---------->
                    <div class="card-header text-white" style="border-radius: 14px;">
                        <div id="level"></div>
                    </div>
                    <div class="card-body2 container row">
                        <!--------- 프로필 사진 -------->
                        <div class="my_div my_bg col m-3 p-0">
                            <img class="my_bg_img" id="profile-img-url" src="" alt="프로필이미지"/>
                        </div>
                        <!--------------------- 닉네임 -------->
                        <div class="nick-name-box col p-3">
                            <div id="nickname"></div>
                        </div>
                    </div>

                    <!-----------------------게임 관련 정보 ----------------------------------------------------------->
                    <div class="card_body_info container">
                        <!--------------------- 경험치 -------->
                        <div class="exp-box col mt-3">
                            <div>
                                <p>경험치 : <span id="exp"></span></p>
                            </div>
                        </div>
                        <!--------------------- 다음레벨 -------->
                        <div class="next-level-box col">
                            <div>
                                <p>다음 레벨 : <span id="next-level"></span></p>
                            </div>
                        </div>
                        <!--------------------- 랭킹 -------->
                        <div class="rank-box col">
                            <div class="rank">
                                <p>랭킹 : <span id="rank"></span> 위</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------------------- 프로필 변경, 회원 정보 관리 버튼 ----------------------------------------->
                <div>
                    <button class="my_btn" style="margin-top: 150px;" type="button"
                            onclick="location.href='/v1/profile-change'">
                        <span class="text-white">프로필 변경</span>
                    </button>
                    <button class="my_btn mt-3" type="button" onclick="location.href='/v1/my-page/info'">
                        <span class="text-white">회원 정보 관리</span>
                    </button>
                </div>

            </div>

            <!-----------------------게임 기록(전적) ----------------------------------------------------------->
            <div class="member-record col-6 r p-1 m-5" id="memberRecord">
                <p>내 전적</p>
                <div class="record_box pl-4 mb-3">
                    <p class="record_text pt-3">총 게임 횟수: <span id="total-cnt"></span> 회</p>
                </div>
                <div class="record_box pl-4 mb-3">
                    <p class="record_text pt-3">총 게임 시간: <span id="total-time"></span> 분</p>
                </div>
                <div class="row mb-3 mb-3" style="margin-left: 0.08rem">
                    <div class="record_box col-5 pl-4">
                        <p class="record_title mt-3">마피아</p>
                        <p class="record_text">횟수: <span id="mafia-cnt"></span> 회</p>
                        <p class="record_text">승률: <span id="mafia-odds"></span> %</p>
                    </div>
                    <div class="record_box col-5 ml-5 pl-4">
                        <p class="record_title mt-3">시민</p>
                        <p class="record_text">횟수: <span id="citizen-cnt"></span> 회</p>
                        <p class="record_text">승률: <span id="citizen-odds"></span> %</p>
                    </div>
                </div>
                <div class="row mb-3 mb-3" style="margin-left: 0.08rem">
                    <div class="record_box col-5 pl-4">
                        <p class="record_title mt-3">경찰</p>
                        <p class="record_text ml-2">횟수: <span id="police-cnt"></span> 회</p>
                        <p class="record_text ml-2">승률: <span id="police-odds"></span> %</p>
                    </div>
                    <div class="record_box col-5 ml-5 pl-4">
                        <p class="record_title mt-3">의사</p>
                        <p class="record_text">횟수: <span id="doctor-cnt"></span> 회</p>
                        <p class="record_text">승률: <span id="doctor-odds"></span> %</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!---------------------------------------------------------- script ---------------------------------------------------------->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function () {
                const profilePath = 'http://localhost:8080/member/info/profile'
                const recordPath = 'http://localhost:8080/member/record'

                $.ajax({
                    url: profilePath,
                    type: 'GET',
                    success: function (response) {
                        console.log('프로필 조회 완료')
                        console.log(response)

                        const profile = response.data

                        $('#level').text(profile.level);
                        $('#profile-img-url').attr('src', profile.profileImgUrl)
                        $('#nickname').text(profile.nickname);
                        $('#exp').text(profile.exp);
                        $('#next-level').text(profile.nextLevel);
                        $('#rank').text(profile.rank);
                    },
                    error: function (response) {
                        alert((response.responseJSON.message).split('##')[0])
                    }
                });

            $.ajax({
                url: recordPath,
                type: 'GET',
                success: function (response) {
                    console.log('게임 기록 조회 완료')
                    console.log(response)

                    const record = response.data

                    $('#total-cnt').text(record.totalCnt);
                    $('#total-time').text(record.totalTime);
                    $('#mafia-cnt').text(record.mafiaCnt);
                    $('#mafia-odds').text(record.mafiaOdds);
                    $('#citizen-cnt').text(record.citizenCnt);
                    $('#citizen-odds').text(record.citizenOdds);
                    $('#police-cnt').text(record.policeCnt);
                    $('#police-odds').text(record.policeOdds);
                    $('#doctor-cnt').text(record.doctorCnt);
                    $('#doctor-odds').text(record.doctorOdds);
                },
                error: function (response) {
                    alert((response.responseJSON.message).split('##')[0])
                }
            });
            return false;
        })
    </script>
</th:block>
</div>
</html>