<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">
<div layout:fragment="content">
    <div th:insert="fragments/header::header"></div>
    <div class="form-container">
        <div class="form-item">
            <div class="mb-4"><h5>아이디 찾기</h5></div>
            <!--                <form th:action="@{/member/vertification/id}" method="post" >-->
            <form id="form">
                <table class="table">
                    <tbody>
                    <div>
                        <label for="email">이메일</label>
                        <input type="text" id="email" class="form-control" placeholder="이메일을 입력하세요">
                    </div>
                    <div>
                        <button class="submit_btn" type="button">아이디 찾기</button>
                    </div>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <!---------------------------------------------------------- script ---------------------------------------------------------->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function () {
                $('.submit_btn').click((e) => {

                    const email = $('#email').val()
                    const json = JSON.stringify({
                        'email': email
                    });

                    const path = 'http://localhost:8080/member/vertification/id'

                    $.ajax({
                        url: path,
                        type: 'POST',
                        contentType: 'application/json',
                        data: json,
                        success: function () {
                            alert('메일 전송이 완료되었습니다.')
                            location.href = 'http://localhost:8080/v1/login-page'
                        },
                        error: function (response) {
                            alert((response.responseJSON.message).split('##')[0])
                        }
                    });
                });
                return false;
            })
        </script>
    </th:block>
</div>
</html>





