<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand text-muted" href="/v1/index">
            <img src="/images/logo2.png" class="img-fluid" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
            <div class="form-inline my-2 my-lg-0">
                <div class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/v1/login-page">로그인</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/v1/my-page">마이페이지</a>
                </div>
                <div class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/v1/signup">회원가입</a>
                    <a sec:authorize="isAuthenticated()" id="logout_btn" class="nav-link" href="javascript:void(0);">로그아웃</a>

                    <!------------------------------- 로그아웃 script ------------------------------->
                    <th:block layout:fragment="script">
                        <script th:inline="javascript">
                            $(function () {
                                $('#logout_btn').click((e) => {
                                    if (confirm('로그아웃 하시겠습니까?')) {
                                        $.ajax({
                                            url: 'http://localhost:8080/member/logout',
                                            type: 'POST',
                                            success: function () {
                                                location.href = 'http://localhost:8080/v1/login-page'
                                            },
                                            error: function (response) {
                                                alert((response.responseJSON.message).split('##')[0])
                                            }
                                        })
                                    }
                                });
                            })
                        </script>
                    </th:block>

                </div>
            </div>
        </div>

    </nav>


</div>


</html>
