<!-- 페이징 처리-->
<div th:fragment="paginationFragment">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!allChatRooms.hasPrevious} ? 'disabled'">
            <a class="page-link"
               th:href="@{|?page=${allChatRooms.number-1}|}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, allChatRooms.totalPages-1)}"
            th:classappend="${page == allChatRooms.number} ? 'active'"
            class="page-item">
            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}&search-conten=${searchConten}|}"></a>
        </li>
        <li class="page-item" th:classappend="${!allChatRooms.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${allChatRooms.number+1}|}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>

