html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    /*background: pink;*/
}
.profile {
    width: 30vw;
    height: 50vh;
    padding: 3px 6px;
}
.my_btn {
    width: 30vw;
    height: 7vh;
    padding: 1px 6px;
    margin-top: 10px;

}
.center {
    text-align: center;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*padding: 15px 0;*/
    text-align: center;
}
.content{
    width: 100vw;
    height: 100vh;
    padding: 40px;
}

img {
    width: 30vw;
    height: 30vh;
    margin-right: 3px;
    /*object-fit: cover;*/
}