html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    background-color:#F5F5F5
}

.navbar {
    padding-left: 40px;
    padding-right: 40px;
}

.index-container{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 6vh;
}

.form-container {
    /*width: 100vw;*/
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh;
}

.form-check {
    width: 100vw;
    height: 50vh;
}

.card-header{
    text-align: left;
    background-color:#666666;
}

.form-item {
    width: 60%;
    padding: 20px;
}

.profile {
    border-radius: 14px;
    border: #666666 solid 1px;
    /*width: 30vw;*/
    height: 30vh;
    /*padding: 3px 6px;*/
    /*background-color: blue;*/
}

.card-body2 {
    float: none;
    /*margin:10px auto;*/
    /*padding: 10px;*/
}

.my_div {
    width: 20vw;
    height: 18vh;
}

.my_bg {
    background-image: url("../images/profile.png");
    background-size: 100% 100%;
    align-items:center;
    justify-content: center;
    display: flex;
}


.image-thumbnail {
    width:100%;
    height:100%;
    /*object-fit:cover;*/
}

.search_submit {
    width: 2vw;
    height: 4vh;
    overflow:hidden;
    margin:1px auto;
    border: none;
}


.search_thumbnail {
    width:20px;
    height:20px;
    object-fit:cover;
}

.lock_thumbnail {
    width:14px;
    height:14px;
    object-fit:cover;
}


.nick-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white {
    font-size: large;
}

.nick-name {
    font-size: large;
    float: none;
}

.my_btn {
    width: 80%;
    height: 7vh;
    margin-top: 30px;
    border: none;
    background-color: #666666;
    border-radius: 14px;

}

.submit_btn {
    width: 100%;
    height: 7vh;
    margin-top: 15px;
    border: none;
}

.cover {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.center {
    text-align: center;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*padding: 15px 0;*/
    text-align: center;
}
.content{
    height: 80vh;
}

.chat_ui {
    padding: 3vh;
    height:75vh;
    width:100%;
    overflow-y: scroll;
}

.chat_input_ui {
    height:5vh;
    width: 100%;
}

.chatroom_list_ui {
    height:30vh;
    overflow-y: scroll;
}

.chat_list_ui {
    padding: 3vh;
    height:50vh;
    width:100%;
    overflow-y: scroll;
}

.card_body_info{
    text-align: left;
    background-color:#666666;
    border-radius: 14px;
    font-size: 14px;
    color: #ffffff;
}

.mt1{
    margin-top: 1rem;
}

.my_bg_img{
    width: 100%;
}

.record_box {
    border-radius: 14px;
    border: #666666 solid 1px;
    background-color: #ffffff;
}

.sign-out-btn {
    border: #ced4da solid 1px;
    background-color: #ffffff;
    color: #000000;
}

.sign-out-btn-box {
    text-align: center
}

.vertif-txt {
    color: #666666;
}

.vertif-id-box {
    display:inline-block;
    float:left;
}

.vertif-pw-box {
    display:inline-block;
    float:right;
}



