html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #FBF9F6;
}

.nav-link {
    font-size : 20px;
    color: #4b2200;
}

.navbar {
    padding-left: 40px;
    padding-right: 40px;
    height: 12vh;
    background-color:#f3efe1;
}

.chatroomList {
    height:68vh;
    width:53vw;
    border: 1px solid #f1f3f5;
    overflow-y:scroll;
}

.index-container{
    justify-content: center;
    align-items: center;
    padding-left: 6vw;
}

.form-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh;
}

.form-check {
    width: 100vw;
    height: 50vh;
}


.idx-card-header{
    text-align: left;
    background-color:#4B2200;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.my-card-header{
    text-align: left;
    background-color:#4b2200;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.form-item {
    min-width: 400px;
    background-color: #ffffff;
    max-width: 400px;
    padding: 30px;
    /*border: 1px solid #ced4da;*/
    border-radius: 14px;
    background-color: #ffffff;
}

.idx-profile {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: white;
}

.my-profile {
    /*border: #4b2200 solid 1px;*/
    background-color: #ffffff;
}

.card-body2 {
    float: none;
    /*border: 1px solid #f1f3f5;*/
}


.my_div {
    width: 20vw;
    height: 18vh;
}

.my_bg {
    background-size: 100% 100%;
    align-items:center;
    justify-content: center;
    display: flex;
}


.image-thumbnail {
    width:100%;
    height:100%;
}

.search_submit {
    width: 2vw;
    height: 4vh;
    overflow:hidden;
    margin:1px auto;
    border: none;
}


.search_thumbnail {
    width:20px;
    height:20px;
    object-fit:cover;
}

.lock_thumbnail {
    width:14px;
    height:14px;
    object-fit:cover;
}


.nick-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white {
    font-size: large;
}

.nick-name {
    font-size: large;
    float: none;
}

.my_btn {
    width: 80%;
    height: 48px;
    margin-top: 30px;
    border: none;
    background-color: #4b2200;
    border-radius: 14px;

}

.my_btn_sub {
    width: 80%;
    height: 48px;
    margin-top: 30px;
    border: none;
    background-color: #A6907A;
    border-radius: 14px;
    color: #ffffff;
}

.submit_btn {
    width: 100%;
    height: 48px;
    margin-top: 15px;
    border: none;
    background-color: #4b2200;
    color: #ffffff;
    border-radius: 30px;
}

.cover {
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

.center {
    text-align: center;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*padding: 15px 0;*/
    text-align: center;
}
.content{
    height: 80vh;
}



.chat_input_ui {
    height:7vh;
    width: 100%;
    border-radius: 7px;
    background-color: #E7E7E7;
    border: none;
    padding: 10px;
}

.chatroom_list_ui {
    height:30vh;
    overflow-y: scroll;




}






.chat_list_ui {
    padding: 3vh;
    height:50vh;
    width:100%;
    overflow-y: scroll;
}

.card-body-info{
    text-align: left;
    background-color:#4b2200;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    font-size: 14px;
    color: #ffffff;
}

.mt1{
    margin-top: 1rem;
}

.my_bg_img{
    width: 100%;
}

.record-item {

}

.sign-out-btn {
    border: #ced4da solid 1px;
    background-color: #ffffff;
    color: #666666;
    font-size: 14px;
    border-radius: 30px;
    width: 84px;
}

.sign-out-btn-box {
    text-align: center
}

.vertif-txt {
    color: #666666;
    font-size: 14px;
}

.vertif-id-box {
    display:inline-block;
    float:left;
}

.vertif-pw-box {
    display:inline-block;
    float:right;
}

/* The Modal (background) */
.searchModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.search-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

.password-input {

}


.lv-box {
    max-height: 50px;
}

.lv-content {
    max-height: 50px;
    line-height: 50px;
}

.lv-img {
    width: 20%;
    height: 20%;
}

.lv-title {
    max-height: 50px;
    font-weight: bold;
}

.lv-sub-title {
    font-size: 12px;
    color: #888888;
}

.lv-modal-close-btn {
    text-align: center;
}

.lv-info-btn-img {
    width: 14px;
    height: 14px;
    position: relative;
    top: -2px;
}

.profile-lv-img {
    width: 20px;
    height: 20px;
}

.form-item-line {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-title {
    margin-bottom: 2.0rem;
}

.checkbox-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3.5px;
}

.member-record-box {
    /*border : #666666 solid 1px;*/
    border-radius: 14px;
    background-color: #ffffff;
    min-width: 550px;
    padding: 2rem;
}

.fs-18 {
    font-size: 18px;
}

.profile-area {
    min-width: 300px;
}

.btn-size {
    max-height: 50px;
}

.modal-attr {
    padding: 2rem;
}

.room-info-item-title {
    position: relative;
    top: 7px;
}

.game-info-title {
    padding-top: 12px;
}

.game-info-data {
    text-align: right;
    padding-top: 12px;
    color: #ffffff;
}

.goal-exp-txt {
    color: #A6907A;
}

.my-tb {
    width: 100%;
}

.record_role {
    width: 50%;
    padding-top: 12px;
    font-weight: bold;
}

.record-title {
    padding-top: 16px;
    padding-bottom: 16px;
}

.record-data {
    text-align: right;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    color: #4b2200;
}

.bb {
    border-bottom: #A6907A solid 1px
}

.my-title {
    font-size: 22px;
    margin-bottom: 0px;
}

.form-input {
    border-radius: 30px;
    height: 44px;
    padding-left: 20px;
}

.modal-btn-primary {
    color: #ffffff;
    background-color: #4b2200;
}

.modal-btn-secondary {
    color: #ffffff;
    background-color: #A6907A;
}

.text-link {
    color: #4b2200;
}


.rule-tit {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 40px;
}

.seq-tit {
    margin-top: 20px;
    font-weight: bold;
}

.rule-cnt-tb {
    width: 80%;
    border: 1px solid #dee2e6;
}

.rule-cnt-tb-tr {
    border: 1px solid #dee2e6;
    padding: 6px;
}

.rule-cnt-tb-td-tit {
    width: 40%;
    border: 1px solid #dee2e6;
    padding: 6px;
    background-color: #f2f2f2;
}

.rule-cnt-tb-td {
    width: 40%;
    border: 1px solid #dee2e6;
    padding: 6px;
}

.rule-cnt-list {
    list-style-type: none;
    padding-left: 0px;
}

.rule-top-txt {
    font-weight: bold
}

.txt-u {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #92ACB1;
}

.my-role-box {
    min-height: 60px;
}

.role-top-txt {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.role-tit {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}
/** chat-room **/

.chatroom_div{
    border-radius: 10px;
    border: solid 1px silver;
    padding: 0;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}
.players {
    padding:20px 30px;
    background-color:#A6907A;
}

/* 채팅방 내에 참여자 목록 */
.playerList {
    height:30vh;
    overflow-y:scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.chatting {

}

/* 채팅 */
.chat_ui {
    height: 70vh;
    margin-top: 2vh;
}

.scroll {
    display:flex;
    flex-direction: column-reverse;
    overflow-y:auto;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}




.vote {
}

/*채팅*/

.chat-container {
    max-width: 400px;
    margin: 20px auto;
}

.message-admin {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.message-other {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

.message-mine {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: flex-end;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.message-content-other {
    background-color: #e5e5ea;
    border-radius: 5px;
    padding: 10px;
    max-width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-content-mine {
    background-color: #e5e5ea;
    justify-content: flex-end;
    border-radius: 5px;
    padding: 10px;
    max-width: 70%;
    align-self: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-time-other {
    font-size: 12px;
    color: #888;
    align-self: flex-end; /* 시간을 메시지 오른쪽에 정렬 */
    margin-left: 5px;
}

.message-time-mine {
    font-size: 12px;
    color: #888;
    align-self: flex-end;
    margin-right: 5px;
}

.author-name-other {
    font-size: 14px; /* 큰 글씨로 */
    font-weight: bold; /* 굵은 글씨로 */
    color: #333; /* 색상 변경 */
    margin-bottom: 3px; /* 작성자 이름과 메시지 내용 간격 조절 */
    margin-right: 10px;
}

.author-name-mine {
    text-align: right;
    font-size: 14px; /* 큰 글씨로 */
    font-weight: bold; /* 굵은 글씨로 */
    color: #333; /* 색상 변경 */
    margin-bottom: 3px; /* 작성자 이름과 메시지 내용 간격 조절 */
}


