html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    /*background: pink;*/
}
.profile {
    width: 30vw;
    height: 50vh;
    /*padding: 3px 6px;*/
    /*background-color: blue;*/
}

.card-body2 {
    float: none;
    margin:10px auto;
}

.image-box {
    width: 20vw;
    height: 37vh;
    overflow:hidden;
    margin:1px auto;
    /*background-color: deeppink;*/
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

.nick-name-box {
    width: 20vw;
    height: 37vh;
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    /*overflow:hidden;*/
    /*margin:1px auto;*/
    /*background-color: olive;*/
}

.nick-name {
    font-size: x-small;
    float: none;
    /*margin: 2px auto;*/
    /*background-color: blueviolet;*/
}


.my_btn {
    width: 30vw;
    height: 7vh;
    padding: 1px 6px;
    margin-top: 10px;
    border: none;
    background-color: #666666;

}
.center {
    text-align: center;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*padding: 15px 0;*/
    text-align: center;
}
.content{
    width: 100vw;
    height: 100vh;
    padding: 40px;
}

