<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebSocket Chatting</title>
</head>
<body>
<h3 id="room-name"></h3>
<div id="conversation">
  <form id="chat-form">
    <h4>
      이름: <span id="username-holder"></span>
    </h4>
    <input type="text" id="message" placeholder="Write a message..."/>
    <button type="submit">Send</button>
  </form>
  <div id="response"></div>
</div>
<script>
  const username = (new URLSearchParams(location.search)).get("username")
  document.getElementById("username-holder").innerText = username
  // WebSocket 통신을 하고 싶다면 JavaScript에서 new WebSocket(url) 을 통해 SimpleChatHandler 에서 사용한 WebSocketSession 과 비슷한 객체를 사용
  const webSocket = new WebSocket("ws://localhost:8080/ws/chat")
  webSocket.onopen = (event) => {
    console.log(event)
    webSocket.send(JSON.stringify({
      username,
      message: `${username} 입장`
    }))
  }
  webSocket.onmessage = (msg) => {
    console.log(msg)
    const data = JSON.parse(msg.data)
    const chatMessage = document.createElement("div")
    const message = document.createElement("p")
    message.innerText = data.username + ": " + data.message;

    chatMessage.appendChild(message)
    document.getElementById("response").appendChild(chatMessage)
  }
  webSocket.onclose = (event) => {
    console.log(event)
    webSocket.send(JSON.stringify({
      username,
      message: `${username} 퇴장`
    }))
  }

  document.getElementById("chat-form").addEventListener("submit", e => {
    e.preventDefault()
    const messageInput = document.getElementById("message")
    const message = messageInput.value
    webSocket.send(JSON.stringify({
      username, message
    }))
    messageInput.value = ""
  })

</script>
</body>
</html>