<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en" layout:decorate="~{layouts/basic}">

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link th:href="@{/css/basic.css}" rel="stylesheet">


<body onload="connect()">
<div layout:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <!--        <div sec:authorize="isAuthenticated()">-->
        <a class="navbar-brand" href="#" id="chatroomTitle" style="color:#4b2200"></a>

        <!------------------------------------------- 방 정보 ------------------------------------------->
        <a class="nav-link room-setting" onclick="openRoomDetail()"><img class="room-setting-img" src="/images/icon_chatroom_info.png" alt="방정보 아이콘"></a>
        <!-- 방 정보 모달 -->
        <div class="form-inline my-2 my-lg-0">
            <div class="modal fade" id="roomDetailModal" tabindex="-1"
                 aria-labelledby="roomDetailModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content pl-3 pr-3 pt-2 pb-2">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5" id="room-info">방 정보</h3>
                            <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                        </div>
                        <div class="modal-body">
                            <form method="post" action="#" class="">

                                <div class="row mt-3">
                                    <p class="room-info-item-title col-3 mb-0">방 제목</p>
                                    <input type="text" class="form-control room-info-item-input col-7"
                                           id="room-name" name="room-name">
                                </div>
                                <div class="row mt-3">
                                    <p class="room-info-item-title col-3 mb-0">공개 여부</p>

                                    <input type="button" class="form-control" id="room-close" name="room-close"
                                           value="공개방"/>
                                    <input type="button" class="form-control ml-2" id="room-open" name="room-open"
                                           value="비밀방">
                                </div>
                                <div class="row mt-3">
                                    <p class="room-info-item-title col-3 mb-0">비밀번호</p>
                                    <input type="text" class="form-control" id="room-password"
                                           name="room-password">
                                </div>
                                <div class="row mt-3">
                                    <p class="room-info-item-title col-3 mb-0">인원 수</p>
                                    <input type="text" class="form-control" id="room-capacity"
                                           name="room-capacity">
                                </div>
                                <!--                                    <div class="row mt-3">-->
                                <!--                                        <p class="room-info-item-title col-3 mb-0">초대 코드</p>-->
                                <!--                                        <p class="form-control" id="room-invite" name="room-invite"></p>-->
                                <!--                                    </div>-->

                                <!-- 공유하기 -->
                                <div class="row mb-3 mt-3">
                                    <div class="col mx-auto">
                                        <div class="sns">
                                            <a href="#n" id="btnKakao"
                                               onclick="fn_sendFB('kakaotalk');return false;"
                                               class="kakaotalk text-link" target="_self"
                                               title="카카오톡 새창열림"><span class="skip">카카오톡</span></a>
                                            <a href="#n" onclick="handleCopyClipBoard();return false;"
                                               class="clipboard text-link" target="_self"
                                               title="클립보드 복사"><span class="skip">복사하기</span></a>
                                            <!--<img id="preview"  alt="Preview" class="rounded-circle shadow" width="200px" height="200px">-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4" style="margin-left: 150px;">
                                    <div>
                                        <button class="btn modal-btn-secondary" id="close_btn" type="submit">닫기
                                        </button>
                                    </div>
                                    <div class="ml-2">
                                        <button class="btn modal-btn-primary" id="submit_btn" type="submit">저장
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 모달 끝 -->
        <!------------------------------------------- 방 정보 끝------------------------------------------->

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
            <div class="form-inline my-2 my-lg-0">
                <div class="nav-item">
                    <!------------------------------------------- 게임시작 시작------------------------------------------->
                    <a class="nav-link text-white game-start-btn" id="gameStart" onclick=gameStart()>게임시작</a>
                    <!------------------------------------------- 게임시작 끝------------------------------------------->

                    <!------------------------------------------- 내 직업 설명 시작------------------------------------------->
                    <a class="nav-link my-role-info-btn" id="myRoleInfo" onclick="myRoleOpen()" style="display: none;">내
                        직업 설명</a>
                    <!--                    th:if="${chatroom.state.getValue() == T(com.springles.domain.constants.ChatRoomCode).PLAYING.getValue()}"-->
                </div>
                <!-- 내 직업 설명 모달-->
                <div class="modal fade" id="myRoleDetailModal" tabindex="-1"
                     aria-labelledby="myRoleDetailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content pl-3 pr-3 pt-2 pb-2">
                            <div class="modal-header">
                                <h3 class="modal-title fs-5" id="myRoleDetailModalLabel">내 직업 설명</h3>
                            </div>
                            <div class="modal-body center">
                                <div class="my-role-box mb-4 mt-3">
                                    <!------------------------- 마피아 시작------------------------->
                                    <div id="my-role-mafia" style="display: none;">
                                        <p class="role-top-txt">마피아</p>
                                        <p class="role-tit mt-2">
                                            <mark>능력</mark>
                                        </p>
                                        <p>
                                            매일 밤, 원하는 대상을 지목하여 살해할 수 있다.<br>
                                            마피아 팀끼리의 대화가 가능하며,<br>살해 대상은 다수결로 결정된다.
                                        </p>
                                    </div>
                                    <!------------------------- 마피아 끝------------------------->
                                    <!------------------------- 시민 시작------------------------->
                                    <div id="my-role-citizen" style="display: none;">
                                        <p class="role-top-txt">시민</p>
                                        <p class="role-tit mt-2">
                                            <mark>능력</mark>
                                        </p>
                                        <p>없음</p>
                                    </div>
                                    <!------------------------- 시민 끝------------------------->
                                    <!------------------------- 경찰 시작------------------------->
                                    <div id="my-role-police" style="display: none;">
                                        <p class="role-top-txt">경찰</p>
                                        <p class="role-tit mt-2">
                                            <mark>능력</mark>
                                        </p>
                                        <p>
                                            매일 밤, 마피아로 의심되는 대상을 지목하여<br>직업을 알 수 있다.
                                        </p>
                                    </div>
                                    <!------------------------- 경찰 끝------------------------->
                                    <!------------------------- 의사 시작------------------------->
                                    <div id="my-role-doctor" style="display: none;">
                                        <p class="role-top-txt">의사</p>
                                        <p class="role-tit mt-2">
                                            <mark>능력</mark>
                                        </p>
                                        <p>
                                            매일 밤, 원하는 대상을 지목하여 살릴 수 있다.<br>
                                            지목한 대상은 그 날 밤 마피아에게 지목 당하더라도<br>살 수 있게 된다.
                                        </p>
                                    </div>
                                    <!------------------------- 의사 끝------------------------->
                                    <!------------------------- 직업 없음 시작------------------------->
                                    <div id="my-role-none">
                                        <p class="mt-5">아직 부여된 직업이 없습니다.</p>
                                    </div>
                                    <!------------------------- 직업 없음 끝------------------------->
                                </div>
                            </div>
                            <div class="lv-modal-close-btn mt-4">
                                <button class="btn modal-btn-secondary" type="button" onclick="myRoleClose()">
                                    닫기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 내 직업 설명 모달 끝 -->
                <!------------------------------------------- 내 직업 설명 끝------------------------------------------->

                <!------------------------------------------- 게임룰 시작------------------------------------------->
                <div class="nav-item">
                    <a class="nav-link game-rule-btn" onclick="gameRuleOpen()">게임 룰</a>
                </div>
                <!-- 게임룰 모달-->
                <div class="modal fade" id="gameRuleDetailModal" tabindex="-1"
                     aria-labelledby="gameRuleDetailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content pl-3 pr-3 pt-2 pb-2">
                            <div class="modal-header">
                                <h3 class="modal-title fs-5" id="gameRuleDetailModalLabel">게임 룰</h3>
                            </div>
                            <div class="modal-body center">
                                <div class="game-rule-box mb-4 mt-3">
                                    <div>
                                        <p class="rule-top-txt mb-2">
                                            <u class="txt-u">
                                                대화와 추리를 통해<br>
                                                자신이 속한 팀이 승리할 수 있도록 해야한다.
                                            </u>
                                        </p>
                                    </div>
                                    <p class="mb-0">-</p>
                                    <p class="rule-tit mt-2">
                                        <mark>팀 구성</mark>
                                    </p>
                                    <table class="rule-cnt-tb center mt-3 ml-5">
                                        <tbody>
                                        <tr class="rule-cnt-tb-tr">
                                            <td class="rule-cnt-tb-td-tit">시민 팀</td>
                                            <td class="rule-cnt-tb-td-tit">마피아 팀</td>
                                        </tr>
                                        <tr class="rule-cnt-tb-tr">
                                            <td class="rule-cnt-tb-td">시민, 경찰, 의사</td>
                                            <td class="rule-cnt-tb-td">마피아</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p class="rule-tit">
                                        <mark>진행 순서</mark>
                                    </p>
                                    <ul class="rule-cnt-list">
                                        <li class="seq-tit mt-3">1. 게임 시작</li>
                                        <li class="seq-cnt">게임이 시작되면 플레이어 마다 직업이 부여된다.</li>
                                        <li class="seq-tit">2. 낮</li>
                                        <li class="seq-cnt">투표를 통해 처형할 대상을 선정한다.<br>
                                            선정된 대상은 최후의 변론 기회가 주어지며, <br>이후 최종 투표를 통해 처형 여부가 결정된다.
                                        </li>
                                        <li class="seq-tit">3. 밤</li>
                                        <li class="seq-cnt">자신의 직업에 따라 능력을 사용한다.</li>
                                        <li class="seq-tit">4. 게임 종료</li>
                                        <li class="seq-cnt">승리 조건에 해당될 때까지 낮 · 밤 라운드를 반복한다.</li>
                                    </ul>
                                    <p class="rule-tit">
                                        <mark>승리조건</mark>
                                    </p>
                                    <p class="rule-cnt mt-3">
                                        마피아가 모두 처형 당했다면 <u class="txt-u"><strong>시민 팀 승리</strong></u><br>
                                        마피아의 수가 시민의 수보다 많아지면 <u class="txt-u"><strong>마피아 팀 승리</strong></u>
                                    </p>
                                </div>
                            </div>
                            <div class="lv-modal-close-btn mt-4">
                                <button class="btn modal-btn-secondary" type="button" onclick="gameRuleClose()">
                                    닫기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 게임룰 모달 끝 -->
                <!------------------------------------------- 게임룰 끝------------------------------------------->


                <!------------------------------------------- 나가기 시작------------------------------------------->
                <div class="nav-item" id="leave-btn">
                    <a class="nav-link" onclick="leave()">나가기</a>
                </div>
                <!------------------------------------------- 나가기 끝------------------------------------------->
            </div>
        </div>
    </nav>
</div>


<div layout:fragment="content">

    <div style="display: flex; justify-content: center; align-items: center; height:110%">
        <div class="row chatroom_div">
            <div class="col-3 players">
                <!-- 참여자 목록 -->
                <div style="height: 50%">
                    <div class="row">
                        <div style="margin-right: auto;">참여자</div>
                        <div id="gamePlayer"></div>
                        /
                        <div id="gameCapacity"></div>
                    </div>
                    <hr style="width: 100%"/>
                    <div id="playerList" class="playerList">
                    </div>
                </div>
                <!-- 투표  -->
                <div class="vote" style="height: 50%">
                    <!-- 투표 테스트를 위한 임시 버튼-->
                    <form id="vote-form">
                        <select id="vote-select" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <button id="submit-vote" class="btn btn-primary" style="margin: 0 0 4px;"
                                type="submit">낮 투표하기
                        </button>
                    </form>
                    <form id="confirm-form">
                        <button id="approve" class="btn btn-primary" style="margin: 0 0 4px;"
                                type="submit">찬성
                        </button>
                        <button id="opposite" class="btn btn-primary" style="margin: 0 0 4px;"
                                type="submit">반대
                        </button>
                    </form>
                    <form id="vote-form-night">
                        <select id="vote-select-night" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <button id="submit-vote-night" class="btn btn-primary" style="margin: 0 0 4px;"
                                type="submit">밤 투표하기
                        </button>
                    </form>
                </div>
            </div>
            <!------------------- 채팅----------------------------------------------------------------------------------->
            <!-- 채팅 -->
            <div class="col-9 chatting">
                <!----------채팅 화면 스크롤 ----------------->
                <div class="chat_ui scroll" id="chatContent">
                    <a href="/chat"></a>
                    <p id="response"></p>
                </div>
                <!---------채팅 입력 input ----------------->
                <form id="message-form" style="text-align:center;">
                    <input class="chat_input_ui" style="margin:0;" type="text" id="message"
                           placeholder="메시지 보내기"/>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript">
        let stompClient = null;
        let pathname = window.location.pathname;
        let roomId = parseInt(pathname.split("/")[3]);
        let nickname = decodeURI(pathname.split("/")[4]);
        let inGameRole = 'NONE' // 내 직업 정보 팝업 출력용

        function getRoomName() {
            fetch(`/v1/chatRooms/${roomId}`).then((response) => {
                response.json().then((responseBody) => {
                    console.log(responseBody)
                    document.getElementById('gameCapacity').innerHTML = responseBody.capacity;
                })
            });
        }

        function connect() {

            getRoomName();

            const socket = new WebSocket('ws://localhost:8080/chatting');
            socket.onopen = function () {
                var t = setInterval(function(){
                    if (ws.readyState != 1) {
                        clearInterval(t);
                        return;
                    }
                    socket.send('{type:"ping"}');
                }, 55000);
            };

            socket.onclose = function() {
                setTimeout(connect, 300); // 웹소켓을 재연결하는 코드 삽입
            };
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);

                // 게임 참여 메시지 전송
                stompClient.send(`/pub/gameJoin/${roomId}`)

                // 전체 채팅 URL 구독
                stompClient.subscribe(`/sub/chat/${roomId}`, (message) => {
                    const body = JSON.parse(message.body)
                    console.log("전체 메시지: ")
                    receiveMessage(body);
                });

                // 채팅방 목록 URL 구독
                stompClient.subscribe(`/sub/chat/${roomId}/playerList`, function (message) {
                    updatePlayerList(message)
                })

                // 죽을 사람 후보
                stompClient.subscribe(`/sub/chat/${roomId}/deadPlayer`, function (message) {
                    confirmVote(message);
                })

                // 낮 투표 후보
                stompClient.subscribe(`/sub/chat/${roomId}/votePlayer`, function (message) {
                    updateVoteList(message)
                })

                // 밤 투표 때 투표할 수 있는 사람 리스트 구독
                stompClient.subscribe(`/sub/chat/${roomId}/voteInfo`, function (message) {
                    console.log(message);
                    updateNightVoteList(message)
                })

                // 타이머용 구독
                stompClient.subscribe(`/sub/chat/${roomId}/timer`, function (message) {
                    console.log(message);
                    publish(message);
                })

                // 개인 채팅 URL 구독
                stompClient.subscribe(`/sub/chat/${roomId}/${nickname}`, (message) => {
                    const body = JSON.parse(message.body)
                    console.log("개인 메시지: " + body)
                    receiveMessage(body);
                })

                // 게임 시작 시 역할 부여 URL 구독
                stompClient.subscribe(`/sub/chat/${roomId}/gameRole/${nickname}`, (message => {
                    const body = JSON.parse(message.body)
                    console.log("역할 설명 메시지: ")
                    stompClient.subscribe(`/sub/chat/${roomId}/${body.gameRole}`, message => {
                        receiveMessage(JSON.parse(message.body))
                    }) // 직업 url
                    stompClient.unsubscribe(`/sub/chat/${roomId}/gameRole/${nickname}`)
                    receiveMessage(body)
                    // 내 직업 정보 팝업에 플레이어별 부여된 역할에 맞는 내용 출력
                    inGameRole = body.gameRole

                    // 게임시작 후 역할부여 전/후에 따라 게임시작 버튼/내 직업 설명 버튼 분기 노출
                    inGameRole = body.gameRole
                    $('#gameStart').attr('style', "display:none;")
                    $('#myRoleInfo').attr('style', "display:block;")
                }))

            });
        }

        // 브라우저 변동 시 게임 나가기
        // 새로고침시 나갔다가 들어온 것으로 간주
        window.addEventListener('beforeunload', (event) => {
            event.preventDefault();
            stompClient.send(`/pub/gameExit/${roomId}`)
        });

        // 채팅 참여자 목록
        function updatePlayerList(message) {
            const list = document.getElementById('playerList');
            list.innerHTML = ""
            let i = 0
            for (const player of JSON.parse(message.body)) {
                console.log(player);
                // player 정보 조회
                const path = `http://localhost:8080/member/info/player/${player.roomId}/${player.memberId}`;

                $.ajax({
                    url: path,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // 가로로 나열 되도록 설정
                        const div = document.createElement('div');
                        div.style.float = 'left';

                        // 프로필 이미지
                        const profileImg = document.createElement('img');
                        profileImg.src = data.data.profileImg;
                        profileImg.style.height = '20px';
                        profileImg.style.width = '20px';
                        profileImg.style.borderRadius = '70%';
                        profileImg.style.overflow = 'hidden';

                        // 닉네임
                        const nickName = document.createElement('span');
                        nickName.innerText = data.data.nickName;
                        nickName.style.marginLeft = '3px';

                        // 방장 여부
                        const isOwner = document.createElement('span');
                        if (data.data.isOwner === true) {
                            isOwner.innerText = '방장'
                            isOwner.className = 'badge badge-pill'
                            isOwner.style.backgroundColor = '#4B2200'
                            isOwner.style.color = 'white'
                            isOwner.style.marginLeft = '2px';
                        }

                        const line = document.createElement('br');
                        const line2 = document.createElement('hr');

                        i++;
                        div.append(profileImg)
                        div.append(nickName)
                        div.append(isOwner)
                        div.append(line)
                        div.append(line2)
                        list.appendChild(div)
                        list.appendChild(line)
                        list.appendChild(line2)
                        document.getElementById('gamePlayer').innerText = i;
                    },
                    error: function (response) {
                        console.log(response)
                    },
                });
            }
        }

        function publish(messageOutput) {
            const messageJson = JSON.parse(messageOutput.body);
            const messageType = messageJson.message;
            console.log(messageType);
            if (messageType == "night") {
                stompClient.send(`/pub/chat/${roomId}/nightStart`);
            } else if (messageType == "day") {
                setTimeout(voteStart, 60000);
            }
        }

        function updateVoteList(message) {
            const list = document.getElementById('vote-select');
            list.innerHTML = "";
            let i = 0
            for (const player of JSON.parse(message.body)) {
                const option = document.createElement('option');
                option.value = player.memberId;
                option.text = player.nickName;
                list.appendChild(option);
                i++;
            }
        }

        function updateNightVoteList(message) {
            const list = document.getElementById('vote-select-night');
            list.innerHTML = "";
            let i = 0
            for (const player of JSON.parse(message.body)) {
                const option = document.createElement('option');
                option.value = player.memberId;
                option.text = player.nickName;
                list.appendChild(option);
                i++;
            }
        }

        function confirmVote(message) {
            const player = JSON.parse(message.body);
            console.log(player.memberName);

            const approveButton = document.getElementById("approve");
            approveButton.addEventListener("click", () => {
                // 찬성 버튼이 클릭되었을 때 실행될 코드 작성
                alert("찬성했습니다!");
                const message = JSON.stringify({
                    'phase': 'DAY_ELIMINATE',
                    'vote': player.memberId
                });
                console.log(message);
                stompClient.send(`/pub/chat/${roomId}/vote`, {
                        "Authorization": getCookie("accessToken")
                    },
                    message);
            });

            const oppositeButton = document.getElementById("opposite");
            oppositeButton.addEventListener("click", () => {
                // 반대 버튼이 클릭되었을 때 실행될 코드 작성
                alert("반대했습니다!");
                const message = JSON.stringify({
                    'phase': 'DAY_ELIMINATE'
                });
                console.log(message);
                stompClient.send(`/pub/chat/${roomId}/vote`, {
                        "Authorization": getCookie("accessToken")
                    },
                    message);

            });
        }


        function gameStart() {
            stompClient.send(`/pub/gameStart/${roomId}`)
            setTimeout(voteStart, 60000);
        }

        function voteStart() {
            stompClient.send(`/pub/chat/${roomId}/dayStart`, {
                "Authorization": getCookie("accessToken")
            });
        }

        function gameExit() {
            stompClient.send(`/pub/gameExit/${roomId}`)
            stompClient.disconnect();
            location.href = '/v1/index';
        }

        function receiveMessage(messageOutput) {
            const response = document.getElementById('response');
            const chat = document.createElement('div');
            messageOutput.sender === "admin"
                ? receiveMessage_admin(messageOutput, response, chat)
                : messageOutput.sender === nickname
                    ? receiveMessage_mine(messageOutput, response, chat)
                    : receiveMessage_other(messageOutput, response, chat)
        }

        function receiveMessage_admin(messageOutput, response, chat) {
            chat.className = "message-admin";
            const messageContent = document.createElement('div');
            messageContent.className = "message-content-admin";
            messageContent.textContent = messageOutput.message;
            chat.appendChild(messageContent);
            response.appendChild(chat);
        }

        function receiveMessage_mine(messageOutput, response, chat) {
            chat.className = "message-mine";

            const messageContent = document.createElement('div');
            messageContent.className = "message-content-mine";
            messageContent.textContent = messageOutput.message;

            const messageTime = document.createElement('div');
            messageTime.className = "message-time-mine";
            messageTime.textContent = messageOutput.time;

            const authorName = document.createElement('div');
            authorName.className = "author-name-mine";
            authorName.textContent = messageOutput.sender;

            chat.appendChild(messageTime);
            chat.appendChild(messageContent);
            response.appendChild(authorName);
            response.appendChild(chat);
        }

        function receiveMessage_other(messageOutput) {
            const response = document.getElementById('response');
            const chat = document.createElement('div');
            chat.className = "message-other";
            const messageContent = document.createElement('div');
            messageContent.className = "message-content-other";
            messageContent.textContent = messageOutput.message;

            const messageTime = document.createElement('div');
            messageTime.className = "message-time-other";
            messageTime.textContent = messageOutput.time;

            const authorName = document.createElement('div');
            authorName.className = "author-name-other";
            authorName.textContent = messageOutput.sender;

            chat.appendChild(messageContent);
            chat.appendChild(messageTime);
            response.appendChild(authorName);
            response.appendChild(chat);
        }

        // 투표 제출이 되는지
        document.getElementById("vote-form").addEventListener("submit", (event) => {
            event.preventDefault()

            const list = document.getElementById('vote-select');
            const selectedIndex = list.selectedIndex;
            const selectedOption = list.options[selectedIndex];
            const selectedValue = selectedOption.value;
            const selectedText = selectedOption.text;
            alert(selectedText + "님을 투표했습니다!");
            console.log(selectedValue);
            const message = JSON.stringify({
                'phase': 'DAY_VOTE',
                'vote': selectedValue
            });
            console.log(message);
            stompClient.send(`/pub/chat/${roomId}/vote`, {
                    "Authorization": getCookie("accessToken")
                },
                message);
        })

        document.getElementById("vote-form-night").addEventListener("submit", (event) => {
            event.preventDefault()

            const list = document.getElementById('vote-select-night');
            const selectedIndex = list.selectedIndex;
            const selectedOption = list.options[selectedIndex];
            const selectedValue = selectedOption.value;
            const selectedText = selectedOption.text;
            alert(selectedText + "님을 투표했습니다!");
            console.log(selectedValue);
            const message = JSON.stringify({
                'phase': 'NIGHT_VOTE',
                'vote': selectedValue
            });
            console.log(message);
            stompClient.send(`/pub/chat/${roomId}/vote/night`, {
                    "Authorization": getCookie("accessToken")
                },
                message);
        })

        document.getElementById("message-form").addEventListener("submit", (event) => {
            event.preventDefault()
            const messageInput = document.getElementById('message');
            const message = messageInput.value
            stompClient.send(`/pub/chat/${roomId}`, {
                "Authorization": getCookie("accessToken")
            }, message);
            messageInput.value = null
        })
        const snsTitle = "챗피아에서 게임하기";

        const thisUrl = window.location.href;
        console.log("thisUrl", thisUrl)
        const handleCopyClipBoard = async () => {
            try {
                await navigator.clipboard.writeText(thisUrl);
                alert('클립보드에 링크가 복사되었습니다.');
            } catch (e) {
                alert('복사에 실패하였습니다');
            }
        };

        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');

            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i];
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1);
                }
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return "";
        }

        function fn_sendFB(sns) {

            <!-- 카카오  -->
            if (sns == 'kakaotalk') {
                // 사용할 앱의 JavaScript 키 설정
                Kakao.init('1f068199be43767b197138dfc91f1cb6');

                // 카카오링크 버튼 생성
                Kakao.Link.createDefaultButton({
                    container: '#btnKakao', // HTML에서 작성한 ID값
                    objectType: 'feed',
                    content: {
                        title: snsTitle, // 보여질 제목
                        description: snsTitle, // 보여질 설명
                        imageUrl: thisUrl, // 카카오공유하기 시 썸네일 이미지 경로
                        link: { //  카카오공유하기 시 클릭 후 이동 경로
                            mobileWebUrl: thisUrl,
                            webUrl: thisUrl
                        }
                    }
                });
            }
        }


        $.get(`/v1/chatrooms/${roomId}/${nickname}`,
            function (result) {

                const title = result.data.title;
                const capacity = result.data.capacity;
                const roomPassword = result.data.password;
                const isClose = result.data.close; // boolean
                console.log("title" + title)
                console.log("capacity" + capacity)
                console.log("roomPassword" + roomPassword)
                console.log("isClose" + isClose)
                $("#chatroomTitle").text(title);
                $("#room-name").text(title);
                $("#room-capacity").text(capacity);
                $("#room-password").text(roomPassword);
                $("#room-close")
                if (isClose == "true") {

                }

                console.log("result = " + result)
            });

        $.get(`/v1/chatrooms/${roomId}/player-list`,
            function (result) {
                // $("#chatroomTitle").text(result.data.level);
                $("#chatroomTitle").text(result.data.title);
                console.log("result = " + result)

            });

        function openRoomDetail() {
            $('#roomDetailModal').modal('show'); // 모달 열기
        }

        // 나가기 버튼
        function leave() {
            const leave = document.getElementById('leave-btn');
            event.preventDefault();
            leave.addEventListener("click", () => {
                if (confirm('퇴장 하시겠습니까?')) {
                    location.href = 'http://localhost:8080/v1/index'
                } else {
                    // 취소 버튼을 누른 경우 페이지 이동 등 동작 없음
                }
            });
        };

        /* 게임룰 모달 열기 */
        function gameRuleOpen() {
            $('#gameRuleDetailModal').modal('show');
        }

        /* 게임룰 모달 닫기 */
        function gameRuleClose() {
            $('#gameRuleDetailModal').modal('hide');
        }

        /* 내 직업 설명 모달 열기 */
        function myRoleOpen() {
            $('#myRoleDetailModal').modal('show');

            // inGameRole에 따라 해당하는 직업 설명 출력
            switch (inGameRole) {
                case 'MAFIA':
                    $('#my-role-mafia').attr('style', "display: block;")
                    $('#my-role-none').attr('style', "display: none;")
                    break;
                case 'CIVILIAN':
                    $('#my-role-citizen').attr('style', "display: block;")
                    $('#my-role-none').attr('style', "display: none;")
                    break;
                case 'POLICE':
                    $('#my-role-police').attr('style', "display: block;")
                    $('#my-role-none').attr('style', "display: none;")
                    break;
                case 'DOCTOR':
                    $('#my-role-doctor').attr('style', "display: block;")
                    $('#my-role-none').attr('style', "display: none;")
                    break;
            }
        }

        /* 내 직업 설명 모달 닫기 */
        function myRoleClose() {
            $('#myRoleDetailModal').modal('hide');
        }

    </script>
    <script src="/js/stomp.js"></script>
</div>
</body>
</html>