<html>
<head>
  <title>Websocket Chatting</title>

</head>
<body onload="connect()">
<div>
  <h3 id="room-name"></h3>
  <div id="conversationDiv">
    <form id="message-form">
      <input type="text" id="message" placeholder="Write a message..."/>
      <button type="submit">Send</button>
    </form>
    <a href="/chat"></a>
    <p id="response"></p>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="/js/stomp.js"></script>
<script type="text/javascript">
  let stompClient = null;
  const pathname = window.location.pathname;
  const roomId = parseInt(pathname.split("/")[2]);
  const nickname = decodeURI(pathname.split("/")[3]);

  function getRoomName() {
    fetch(`/chat/rooms/${roomId}/name`).then((response) => {
      response.json().then((responseBody) => {
        console.log(responseBody);
        document.getElementById('room-name').innerHTML = responseBody.roomName;
      })
    });
  }

  function connect() {
    getRoomName();
    // 최초의 연결을 위한 URL은 동일하게 ws://localhost:8080/chatting 으로
    const socket = new WebSocket('ws://localhost:8080/chatting');
    // Stomp.over() 를 사용해 STOMP 통신을 할것이라 지정
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function(frame) {
      console.log('Connected: ' + frame);
      // subscribe 메소드를 통해 /topic/${roomId} 에 구독했음을 확인
      // roomId 의 경우 어떤 경로로 들어왔는지에 따라 바뀌는 동작이며, 후에 서버에서 메시지를 전달할때 클라이언트를 구분하기 위한 URL의 역할
      // 연결을 위한 엔드포인트는 ws://localhost:8080/chatting 하나로 유지하면서, 연결된 사용자들을 /topic 이라고 하는 경로를 통해 다시 구분
      stompClient.subscribe(`/topic/${roomId}`, function(message) {
        receiveMessage(JSON.parse(message.body));
      });
    });
  }

  function receiveMessage(messageOutput) {
    const response = document.getElementById('response');
    const p = document.createElement('p');
    p.style.wordWrap = 'break-word';
    p.appendChild(document.createTextNode(messageOutput.sender + ": "
      + messageOutput.message + " (" + messageOutput.time + ")"));
    response.appendChild(p);
  }

  document.getElementById("message-form").addEventListener("submit", (event) => {
    event.preventDefault()
    const messageInput = document.getElementById('message');
    const message = messageInput.value
    // 요청을 보내는 위치는 Configuration 의 setApplicationDestinationPrefixes 와 MessageMapping 의 값을 합쳐서 활용
    stompClient.send("/app/chat", {
      "Authorization": "Bearer Token_here"
            },
      JSON.stringify({
        'roomId': roomId,
        'sender': nickname,
        'message': message
      }));
    messageInput.value = null
  })
</script>
</body>
</html>
