<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">
<div layout:fragment="content">
    <!-- nav -->
    <div th:insert="fragments/header :: header"></div>

    <div class="form-container">
        <div class="form-item" style="height: 490px;">
            <div class="form-title"><h5>게임 만들기</h5></div>
            <form id="form">
                <table class="table">
                    <tbody>
                    <div class="item-detail mt-3">
                        <label for="title">방 제목</label>
                        <input type="text" id="title" class="title form-control form-input" placeholder="이름을 입력하세요">
                    </div>
                    <div class="item-detail mt-3">
                        <label for="capacity">인원</label>
                        <input type="text" id="capacity" class="capacity form-control form-input" placeholder="인원을 입력하세요">
                    </div>
                    <div class="checkbox mt-3">
                        <input type="checkbox"
                               id="close"
                               class="checkbox checkbox-icon"
                               value="false">
                        <label for="close" class="checkbox ml-1 mb-0">비밀방</label>
                    </div>
                    <div class="item-detail mt-3">
                        <label for="password">비밀번호</label>
                        <input type="text" id="password" class="form-control form-input" placeholder="비밀번호를 입력하세요">
                    </div>
                    <div>
                        <button id = "Send_Request" class="submit_btn mt-4" type="button">등록</button>
                    </div>
                </table>
                <!-- javscript 코드, 비밀번호 input 입력 불가능이 기본 사항입니다. -->
            </form>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script src="/js/stomp.js"></script>
        <script>
            let stompClient = null;
            const socket = new WebSocket('ws://localhost:8080/chatting');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
            });
        </script>
        <script th:inline="javascript">
            $(function () {
                // ======================== 비밀방 체크박스와 비밀번호 설정 =====================================================
                $('#password').attr('disabled',true);
                $('#close').on('click', function(){
                    const closeBtn = document.getElementById('close');
                    if( closeBtn.checked ){
                        $('#close').attr('value', 'true');
                        $('#password').removeAttr('disabled')
                    } else {
                        $('#close').attr('value', 'false');
                        $('#password').attr('disabled',true).val("");
                    }
                });
                // ========================= 채팅방 생성 버튼 ==================================================================
                $('.submit_btn').click((e) => {
                    const title = $('#title').val();
                    const capacity = $('#capacity').val();
                    const close = $('#close').val()
                    const password = $('#password').val();

                    const path = 'http://localhost:8080/v1/chatrooms';
                    const json = JSON.stringify({
                        'title': title,
                        'capacity': capacity,
                        'close': close,
                        'password': password
                    });
                    $.ajax({
                        url: path,
                        type: 'POST',
                        contentType: 'application/json',
                        data: json,
                        success: function(data) {
                            stompClient.send(`/pub/gameCreate/${data.data.id}`)
                            // response data에서 방장 이름 가져오기
                            const nickName = data.data.nickName;
                            // response data에서 roomId 가져오기
                            const roomId = data.data.id;
                            // 성공할 경우 해당 채팅방으로 바로 이동
                            location.replace('http://localhost:8080/v1/chat/'+ roomId + '/' + nickName);
                        },
                        error: function(response) {
                            alert((response.responseJSON.message).split('##')[0])
                        },
                    });
                });
                return false;
            });
        </script>
    </th:block>
</div>
</html>