<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/basic}">
<div layout:fragment="content">
    <div th:insert="fragments/header::header"></div>
    <div class="index-container">
        <div class="row cover m-2">
            <form class="form-inline">
                <!------------------ 리셋 ---------------------------->
                <button type="button" class="btn btn-light my-1" onclick="clearButton()">리셋</button>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <input class="form-control mr-sm-2" type="text" id="search-content" name="search-content"
                               placeholder="nickname or title"/>

                    </div>
                    <button class="input-group-text" type="button" onclick="search()">
                        <img class="search_thumbnail" src="/images/search.png"/>
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-3 center ml-5 pl-1">
                <!-----------------------사용자 정보 ----------------------------------------------------------->
                <div class="profile-area">
                <!---------레벨 ---------->
                <div class="idx-card-header row ml-0 mr-0 p-3">
                    <img id="level-img" class="profile-lv-img mt-1 mr-2" src="" alt="레벨 이미지"/>
                    <p id="level" class="mb-0" style="color: white;"></p>
                </div>
                <div class="idx-profile">
                    <div class="card-body2 container row ml-0 mr-0 pl-2 pr-2">
                        <!--------- 프로필 사진 -------->
                        <div class="my_div my_bg col m-3 p-0">
                            <img class="my_bg_img" id="profileImg" alt="프로필이미지"/>
                        </div>
                        <!--------------------- 닉네임 -------->
                        <div class="nick-name-box col p-3">
                            <div class="nick-name">
                                <p id="nickName" name="nickName" class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- 게임 만들기, 빠른 입장 --->
                <div>
                    <button class="my_btn btn-size" type="button" onclick="location.href='/v1/add'">
                        <span class="text-white">게임 만들기</span>
                    </button>
                </div>
                <div>
                    <button class="my_btn btn-size" type="button" onclick="quickEnterBtn()" >
                        <span class="text-white mt-4">빠른 입장</span>
                    </button>
                </div>
            </div>
            </div>
            <div class="col-6 pl-5 pr-5">
                <!----------------------- 채팅방 목록 ------------------------------------------------------->
                <div id="display"></div>
                <!-- 비밀방 입장 시 비밀번호 입력 Modal  -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">비밀방 입장</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="password" class="form-control" id="userInput" placeholder="비밀번호를 입력하세요.">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" name="password-submit">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------- script ----------------------->
            <th:block layout:fragment="script">
                <script th:inline="javascript">  // 자바스크립트 인라인

                let memberName;
                // 페이지 로딩 시 동작
                $(function () {
                    // 프로필 정보 조회
                    $.get("/member/info/profile/simple",
                        function (data) {
                            $("#level").text(data.data.level);
                            $('#level-img').attr('src', data.data.levelImg)
                            $("#profileImg").attr("src", data.data.profileImg);
                            $("#nickName").text(data.data.nickname);
                            memberName = data.data.memberName;
                        })
                    });

                $(function () {
                    // 채팅방 전체 목록 조회
                    $.get("/v1/chatrooms",
                        function(data) {
                            console.log(data.data.length);
                            if (data.data.length === 0) {
                                emptyChatRoomList()
                            } else {
                                chatRoomList(data)
                            }
                        });
                });



                // 채팅방 입장
                function enterRoom(chatRoomId, isClose) {
                    // 비밀방은 비밀번호 입력 Modal
                    if (isClose === true) {
                        const modal = document.getElementById("exampleModal");
                        // modal.style.display = "block";
                        $("button[name='password-submit']").click(function (event) {
                            event.preventDefault();
                            $.ajax({
                                url: `/v1/chatroom/${chatRoomId}`,
                                type: 'GET',
                                success: function(data) {
                                    const nickName = document.getElementById("nickName").innerText;
                                    const userInput = document.getElementById('userInput').value;
                                    const roomPassword = data.data.password;

                                    if (roomPassword !== userInput) {
                                        alert('비밀번호가 일치하지 않습니다.')
                                    } else {
                                        // window.location.href = 'v1/chat/' + chatRoomId + '/' + nickName; // 맞다면 이동
                                        // window.location.href = '/v1/enter'
                                        location.replace('http://localhost:8080/v1/chat/'+ chatRoomId + '/' + memberName);
                                        }
                                },
                                error: function(response) {
                                    alert(JSON.stringify(response))
                                },
                            });
                        });

                        // 오픈방이면 바로 이동
                    } else {
                        const nickName = document.getElementById("nickName").innerText
                        console.log("chatRoomId = "+chatRoomId)
                        console.log("nickName = "+nickName)

                        // window.location.href = '/v1/chat/' + chatRoomId + '/' + nickName;
                        // window.location.href = '/v1/enter'
                        location.replace('http://localhost:8080/v1/chat/'+ chatRoomId + '/' + memberName);
                    }
                }

                // 채팅방이 없는 경우
                function emptyChatRoomList(){
                    var html = `<div class="container chatroomList" style="display: flex; justify-content: center; align-items: center;">` + "만들어진 방이 없습니다." + `</div>`;
                    $("#display").empty();
                    $("#display").append(html);
                }
                // 채팅방 목록 생성
                function chatRoomList(data){
                var html = `<div id="chatroomList" class="chatroomList">`
                $.each(data.data, function (index, item) {
                    // 채팅방 선택 시 입장 enterRoom 함수 실행
                    html += `<a onclick="enterRoom(${item.id}, ${item.close});"
                                class="list-group-item list-group-item-action flex-column align-items-start"
                                id="chatroom"
                                data-toggle="${modal_info2()}"
                                data-target="${modal_info()}"
                                style="margin: 1vw 3vw;border-radius: 15px;width: 88%;">`

                        + `<div class="test d-flex w-100 justify-content-between">`
                            + `<span class="state badge badge-pill" style="background-color: #A6907A; color: white;">` + item.state + `</span>`
                            + `<div class="d-flex w-100 justify-content-between">`
                                + `<span class="mb-1">`
                                + `<img id="roomImage" class="lock_thumbnail" src="${img_info()}">`
                                + `</span>`
                            + `</div>`
                        + `</div>`

                        + `<div class="contaniner row" style="text-align: left">`
                        // 방 제목
                            + `<div class="col-10">`
                            + `<h5 class="mb-1">` + item.title + `</h5>`
                            + `</div>`
                        // 참여 인원 / 정원
                            + `<div class="col-1">`
                            + `<span class="mb-1">` + item.head + `</span>` + "/"
                            + `<span class="mb-1">` + item.capacity + `</span>`
                            + `</div>`
                        + `</div>`

                    // 비밀방인 경우 열쇠 이미지 , 공개방인 경우 이미지 없음
                    function img_info() {
                        if (item.close) {
                            return "/images/lock.png";
                        } else {
                            return "";
                        }
                    }

                    function modal_info() {
                        if (item.close) {
                            return "#exampleModal";
                        } else {
                            return "";
                        }
                    }

                    function modal_info2() {
                        if (item.close) {
                            return "modal";
                        } else {
                            return "";
                        }
                    }
                })
                html += "</a>";
                html += "</div>";
                $("#display").empty();
                $("#display").append(html);
            }

                // 채팅방 검색
                function search(){
                    const content = $('#search-content').val();
                    // 검색어가 없는 경우 아무 실행도 하지 않습니다.
                    if(content === ''){
                        return false;
                    }
                    // 검색어가 있는 경우
                    $.ajax({
                        url: `/v1/chatroom/search?content=${content}`,
                        type: 'GET',
                        success: function(data) {
                            // 검색 결과에 따라 채팅방 목록 바꾸기
                            chatRoomList(data);
                        },
                        error: function(response) {
                            // 오류메시지 alert (해당하는 방이 없는 경우)
                            alert(JSON.stringify(response.responseJSON.message));
                        },
                    });
                }

                // 검색어 리셋
                function clearButton() {
                    // 검색어 input 비우기
                    $('#search-content').val("");
                    window.location.href = `/v1/index`;
                }

                // 빠른 입장
                function quickEnterBtn(){
                    $.ajax({
                        url: `/v1/chatrooms/quick-enter`,
                        type: 'GET',
                        success: function(data) {
                            location.replace('http://localhost:8080/v1/chat/'+ data.data.id + '/' + memberName)
                        },
                        error: function(response) {
                            // 오류메시지 alert (해당하는 방이 없는 경우)
                            alert(JSON.stringify(response.responseJSON.message));
                            if (confirm("방을 생성 하시겠습니까 ? ") == true) {
                                window.location.href = "/v1/add"
                            } else {
                                // 취소 버튼을 누른 경우 페이지 이동 등 동작 없음
                            }
                        },
                    });

                }
                </script>
            </th:block>
        </div>
    </div>
</div>
</html>