<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">
<div layout:fragment="content">
    <div class="index-container">
        <div class="row">
            <div class="col-3 center p-1 m-5">
                <!-----------------------사용자 정보 ----------------------------------------------------------->
                <div class="card profile">
                    <!---------레벨 ---------->
                    <div class="card-header text-white" style="border-radius: 14px;">BEGINNER (아이콘)</div>
                    <div class="card-body2 container row">
                        <!--------- 프로필 사진 -------->
                            <div class="my_div my_bg col m-3 p-0">
                            </div>
                        <!--------------------- 닉네임 -------->
                        <div class="nick-name-box col p-3">
                            <div class="nick-name" th:text="${member.getMemberName()}"></div>
                        </div>
                    </div>
                </div>
                <!--- 게임 만들기, 빠른 입장 --->
                <div>
                    <button class="my_btn" type="button" onclick="location.href='/v1/add'">
                        <span class="text-white">게임 만들기</span>
                    </button>
                </div>
                <div>
                    <button class="my_btn" type="button" onclick="location.href='/chat/quick-enter'">
                        <span class="text-white">빠른 입장</span>
                    </button>
                </div>
            </div>
            <div class="col-7 center px-2 m-5">
                <div class="container row cover">
                    <!------------------ 체크 박스 ------------------------>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2 check-box">
                        <input type="checkbox"
                               id="checkbox"
                               name="checkbox"
                               class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="checkbox">오픈&대기중</label>
                    </div>
                    <!------------------- 검색 ------------------------->
                    <form class="form-inline" th:action="@{/v1/index}" method="get">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" type="submit">
                                    <img class="search_thumbnail" src="/images/search.png"/>
                                </button>
                            </div>
                            <input class="form-control mr-sm-2" type="text" id="search-content" name="search-content" placeholder="nickname or title"/>
                            </div>
                        <!------------------ 리셋 ---------------------------->
                        <button type="button" class="btn btn-light my-1" onclick="clearButton()">리셋</button>
                    </form>
                </div>
                <!------------------ 메시지 --------------------------->
                <div th:if="${errorMessage}" id="errorMessage" class="alert alert-danger">
                    <p th:text="${errorMessage}"></p>
                </div>

                <!------------------ 채팅방 목록 ----------------------->
                <div th:if="${allChatRooms != null}">
                    <div th:id="'room_' + ${i.index}" class="list-group" th:each="room, i: ${allChatRooms}">
                        <a th:href="@{/chat/{roomId}/{nickName} (roomId=${room.id},nickName=${member.memberName})}"
                           th:attrappend="roomId=${room.id},nickName=${member.memberName},isClose=${room.getClose()}"
                           id="chatroom-url" name="chatroom-url"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <!-----------------게임중 / 대기중 -------------------->
                                <span id="state"
                                      th:text="${room.state}"
                                      class="badge badge-primary badge-pill"></span>
                                <!-----------------비밀방 여부 -------------------->
                                <div class="d-flex w-100 justify-content-between">
                                    <span id="close" th:if="${room.getClose()}">
                                        <img class="lock_thumbnail" src="/images/lock.png"/>
                                    </span>
                                    <span id="open" th:unless="${room.getClose()}">
                                    </span>
                                </div>
                            </div>
                            <div class="contaniner row" style="text-align: left">
                                <!---------------- 방 제목 ----------------------------->
                                <div class="col-11">
                                    <h5 class="mb-1" th:text="${room.title}"></h5>
                                </div>
                                <!-----------------참여인원 / 정원 -------------------->
                                <div class="col-1">
                                    <span class="mb-1" th:text="${room.head}"></span>/
                                    <span class="mb-1" th:text="${room.capacity}"></span>
                                </div>
                            </div>
                        </a>
                        <!--------------------비밀방 비밀번호 입력 ----------------------->
                        <div th:id="'passwordInput_' + ${room.id}" class="password-input" style="display: none;">
                            <input type="text" name="userInput" id="userInput"/>
                            <button type="button" id="password-submit" name="password-submit" class="submit_btn"
                                    th:attr="data-roomId=${room.id},data-nickName=${member.memberName},data-isClose=${room.close},data-roomPassword=${room.password}">
                                확인
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------- script ----------------------->
            <th:block layout:fragment="script">
                <script th:inline="javascript">  // 자바스크립트 인라인
                $('#checkbox').on('click', function () {
                    const checkBtn = document.getElementById('checkbox');
                    let allChatRooms = [[${allChatRooms}]];
                    if (allChatRooms.length === 0) return;
                    allChatRooms = [[${allChatRooms}]];
                    console.log("allChatRooms : " + allChatRooms);
                    // 필터를 적용해야하는 경우라면
                    if (checkBtn.checked) {

                        for (var i = 0; i < allChatRooms.length; i++) {
                            // 비밀방 또는 게임중이면 HIDE
                            if (allChatRooms[i].close || allChatRooms[i].state === "PLAYING") {
                                document.getElementById('room_' + i).style.display = "none";
                            }
                        }
                    } else {
                        for (var i = 0; i < allChatRooms.length; i++) {
                            document.getElementById('room_' + i).style.display = "";
                        }
                    }

                });

                // 검색 리셋
                function clearButton() {
                    window.location.href = "/v1/index";
                }

                // 채팅방 선택 후 비밀방 여부 확인, 비밀번호 입력창 띄우기
                $("a[name='chatroom-url']").click(function (event) {

                    event.preventDefault();
                    const roomId = $(this).attr("roomId");
                    const isClose = $(this).attr("isClose");
                    const nickname = $(this).attr("nickname");
                    const passwordInputDiv = document.getElementById("passwordInput_" + roomId);// passwordInputDiv 요소 가지고 옴.

                    console.log(roomId);
                    console.log(isClose);
                    console.log(nickname);

                    if (isClose === 'true') { // 비밀방이면
                        passwordInputDiv.style.display = "block"; // 비밀번호 입력가능한 input 을 표출
                    } else {
                        window.location.href = '/chat/' + roomId + '/' + nickname; // 오픈방이면 input 을 보여주지 않고 chat room 으로 이동시킴
                    }
                });

                // 비밀번호 제출
                $("button[name='password-submit']").click(function (event) {

                    event.preventDefault();

                    const roomId = $(this).attr("data-roomId");
                    const isClose = $(this).attr("data-isClose");
                    const nickname = $(this).attr("data-nickname");
                    const roomPassword = $(this).attr("data-roomPassword");
                    const userInput = $(this).prev().val();

                    console.log(roomPassword);
                    console.log(isClose);
                    console.log(nickname);
                    console.log("userInput = " + userInput);

                    if (roomPassword !== userInput) {
                        alert('비밀번호가 일치하지 않습니다.')
                        event.preventDefault();
                    } else {
                        window.location.href = '/chat/' + roomId + '/' + nickname; // 맞다면 이동
                    }
                });
                </script>
            </th:block>
        </div>
    </div>
</div>
</html>