<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">


<div id="searchForm" layout:fragment="content">

    <form th:action="@{/v1/list/search}" method="get">
        <label for="search-content">검색: </label>
        <input type="text" id="search-content" name="search-content" placeholder="nickname or title"/>
        <button type="submit">방 찾기</button>
    </form>

    <div id="checkbox-and-list">

        <div class="form-check">
            <input type="checkbox" id="openCheckbox" onchange="clickCheckBox()" class="form-check-input">
            <label for="openCheckbox" class="form-check">오픈 & 대기 중</label>
        </div>

        <div th:if="${errorMessage}" id="err-message" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>

        <!-- 채팅방 목록 -->
            <div th:replace="~{fragments/list :: chatRoomListFragment}"></div>

        <!-- 페이징 -->
<!--        <div th:unless="${allChatRooms.isEmpty}">-->
<!--            <div th:replace="~{fragments/page :: paginationFragment}"></div>-->
<!--        </div>-->

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function clickCheckBox() {
            window.location.href = "/v1/list/check";
        }

    </script>
</div>
</html>